body{
    background: black;
}
h2{
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 80px;
}
.ul{
    list-style: none;
}
li{
    display: inline;
    padding: 40px;
    color: white;
}
.practica{
    display: block;
    width: 20rem;
    height: 13rem;
    background-image: linear-gradient(rgb(235, 122, 250), rgb(169, 245, 255));
    float: left;
    margin: 2rem;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    vertical-align: top;
    border: solid  rgb(137, 101, 215) 3px;
}
