
body,html{
     width: 100%;
     overflow-x: hidden;
     background: #55646c;
}
ul a{
    display: block;
    width: 20rem;
    height: 15rem;
    border-radius: 20%;
    background: #55646c;
    border: 1px white solid;
    float: left;
    text-decoration: none;
    color: inherit;
    margin: 2rem;
    text-align: center;
    list-style:none;
    display:flex;
    justify-content: center;
    align-items: center;
}

ul a:hover{
    transform: scale(1.5);
}