body{
    background-image: url(fondo.jpg);
    background-size: 50%;
}
h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 11rem;
    color: rgb(10, 5, 117);
    text-align: center;
    position: relative;
    top:4rem;
    animation: mover-izquierda-derecha 2s 1;
}
@keyframes mover-izquierda-derecha {
    from{
        transform: translateX(-100px)
    }
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    color:  rgb(10, 5, 117);
    text-align:center;
    position: relative;
    top:-2rem;
    animation: mover-izquierda-derecha 2s 1;
}