body{
}
ul a {
    display: block;
    width: 13rem;
    height: 13rem;
    background: rgb(197, 174, 246);
    float: left;
    margin: 2rem;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    vertical-align: top;
    border: solid  rgb(137, 101, 215) 3px;
}
ul a:hover {
opacity: 70%;
}
.barra{
height: 60px;
width: 1500px;
background-color: rgb(227, 180, 235);
margin: auto;
}
h2{
    font-family:'Times New Roman', Times, serif;
    color: rgb(120, 54, 132);
    text-align: center;
    font-size: 35px;
}
