*{
    position: relative;
}

body{
    background: hsla(72, 14%, 93%, 1);

    background: linear-gradient(90deg, hsla(72, 14%, 93%, 1) 0%, hsla(0, 0%, 100%, 1) 50%, hsla(72, 14%, 93%, 1) 99%);
    
    background: -moz-linear-gradient(90deg, hsla(72, 14%, 93%, 1) 0%, hsla(0, 0%, 100%, 1) 50%, hsla(72, 14%, 93%, 1) 99%);
    
    background: -webkit-linear-gradient(90deg, hsla(72, 14%, 93%, 1) 0%, hsla(0, 0%, 100%, 1) 50%, hsla(72, 14%, 93%, 1) 99%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EFF0EB", endColorstr="#FFFFFF", GradientType=1 );    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    position: relative;
    font-size: 17rem;
    color: #dcddd7;
    text-align: center;
    top:2rem;
    animation: mover-izquierda-derecha 4s 1;
    opacity: 70%;
    text-shadow: 0.05em 0.05em #4b4848

}
a{
    text-decoration: none;
}
#fo{
    right:3.2rem;
}
#li{
    left:1rem;
}
@keyframes mover-izquierda-derecha {
    from{
        transform: translateX(-100px) 
   }
}
h1{
    font-size: 2.5rem;
    color: #dcddd7;
    text-align:center;
    opacity: 80%;
    top:-6rem;
    animation: mover-izquierda-derecha 4s 1;
}

.cajamarco1 {
    position: absolute;
    width:10rem;
    height:10rem;
    opacity: 55%;
    top: 2rem;
    left: 5rem;
    transform-origin: center;

}

.cajamarco2 {
    position: absolute;
    width:10rem;
    height:10rem;
    opacity: 55%;
    bottom: 2rem;
    right: 5rem;
    transform-origin: center;
    transform:rotate(180deg);    
}


@media screen and (max-width: 700px) {
    h2{
        display: block;
        width: 100%;
        margin: 0 auto;
        font-size: 11rem;
        top:2rem;
   }
    h2 a {
        margin: 0 auto;
   }
}


@media screen and (max-width: 800px) {
    .cajamarco1 {
        top: 1rem;
        left: 3rem;
    }
    
    .cajamarco2 {
        bottom: 1rem;
        right: 3rem; 
    }
}
