body{
font-family:Arial, Helvetica, sans-serif;
}
.menu{
height:168px;
}
.contactes{
height: 195px;
}
.contingut{
width: 1665px;
height: 1800px;
margin: auto;
}
.centrador{
    width: 1665px;
    background-color: aqua;
    overflow: hidden;
    margin:0 auto;
}
li {
    display: inline-block;
    margin: 10px;
    background-color: white;
    height: 82px;
    width: 82px;
    border-radius: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    line-height: 200px;
}
ul{
    width: 1060px;
    font-size: 10px;
    margin: 0 auto;
    padding: 36px;
}

#contacte01 {
    background-image: url(../images/ifpagram_07.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

#contacte01:hover{
    background-size: 200%;
    background-position: center;
}
#contacte02 {
    background-image: url(../images/ifpagram_09.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
#contacte03 {
    background-image: url(../images/ifpagram_07.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
#contacte04 {
    background-image: url(../images/ifpagram_09.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
#contacte05 {
    background-image: url(../images/ifpagram_07.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
#contacte06 {
    background-image: url(../images/ifpagram_09.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
#contacte07 {
    background-image: url(../images/ifpagram_07.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
#contacte08 {
    background-image: url(../images/ifpagram_09.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
#contacte09 {
    background-image: url(../images/ifpagram_07.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
#contacte10 {
    background-image: url(../images/ifpagram_09.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.logo{
    width: 310px;
    height: 50px;
    float: left;
    background-size: 80%;
    background-repeat: no-repeat;
    padding: 10px;
    margin: 10px;
}
.nav{
    width: 336px;
    height: 50px;
    margin: auto;
    padding: 13px;
}
.nav ul{
    height: 50px;
    width: 210px;
    padding: 0;
    margin: auto;
}
.nav ul li {
    width: 42px;
    height: 42px;
    margin: 4px;
    background-color: yellow;
}
.home{
    background-image: url(../images/ifpagram_08_03_01.png);
    background-size: 150%;
    background-position: -2px -12px;

}
.search{
    background-image: url(../images/ifpagram_08_03_02.png);
    background-size: 150%;
    background-position: -8px -7px;
}
.tv{
    background-image: url(../images/ifpagram_08_03_03.png);
    background-size: 155%;
    background-position: -9px -10px;
}
.like{
    background-image: url(../images/ifpagram_08_03_04.png);
    background-size: 155%;
    background-position: -15px -12px;
}
.user{
    width: 164px;
    float: right;
    height: 50px;
}
.post{
    width: 545px;
    margin: 5px auto;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    float: left;
    height: 600px;

}
.post img{
    width: 535px;
}
.post div{
    width: 150px;
    margin: 5px;
}
.post .postejador{
    float: left;
}
.post .postejador img{
    width: 50px;
    border-radius: 50%;
    float:left;
}
.post .reaccions{
    width: 170px;
    float: right;
}
.post h5{
    height: 25px;
    line-height: 25px;
    font-weight: 700;
}
.post h6{
    height: 20px;
}
a:link{
    opacity: 100%;
}

a:hover{
    opacity: 60%;
    background-size: 200%;
}